@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
}
html {
  scroll-snap-type: proximity;
  scroll-snap-type: y proximity;
}
body {
  background: #242424;
  color: #fff;
  font-family: Monoscepe;
}
